@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* CSS ENIGMA DO MEDO */
/* inicio estilo header */
body, ul {
    margin: 0;
    padding: 0;
}

#menu a {
    color: black;
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.3s;
    text-align: center;
    padding: 0 0.4em;
    font-size: 24px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 4px solid #7e7e7e00;
    box-shadow: 2px 2px 4px #969696;
}

#menu a:hover {
    font-size: 22px;
    border-bottom-left-radius: 15px; /* arredondar canto abaixo e esquerdo */
    border-bottom-right-radius: 15px; /* arredondar canto abaixo e direito */
    border-bottom: 0.1px solid #000000;
}

#logo img {
height: 50px;
}

#logo img:hover {
    box-shadow:2px 2px 4px  #ccd9db;
    transition: 0.3s;
}

#header {
box-sizing: border-box;
height: 60px;
padding: 1rem;
display: flex;
align-items: center;
justify-content: space-between;
background: #a5b5b881;
box-shadow:  3px 3px 6px #b1b1b1; /* sombra do menu */
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.8rem; /* gap define espaçamento entre linhas e colunas*/ /* REM unidade de medida relativa que varia de acordo a dimensão do navegador ou dis´psitivo, por padrão 1rem é ihual a 16px e se usado em fontes ela pode variar*/

}

#btn-mobile {
    display: none;
}